body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-image: url(https://cdn.pixabay.com/photo/2013/07/13/10/04/game-consoles-156464_960_720.png);
}

.infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container {
  height: 400px;
  width: 500px;
  border: 1px solid rgb(203, 216, 214);
  cursor: crosshair;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 216, 214);
  box-shadow: 0 0 5px black;
  border-radius: 6px;
  overflow: hidden;
}

#target {
  height: 70px;
  width: 70px;
  position: absolute;
  transition: 0.25s;
  animation: animateTarget 10s infinite;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: brown;
  color: rgb(203, 216, 214);
  border-radius: 6px;
  cursor: pointer;
}

@keyframes animateTarget {
  to {
    transform: translateY(-200px) rotate(90deg);
  }
}